.showVestuary{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 2%;
  min-height: 39rem;
   max-height: 40rem;
    overflow-y: auto;
    
}


.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #0e0e0e;
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    height: 40rem;
    
  
}
.showVestuary h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #f1f1f1;
    margin-bottom: 2rem;
    margin-left: 30%;
   
}
.showVestuary h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #f1f1f1;
    margin-bottom: 2rem;
    margin-left: 32%;
   
}
.showVestuary p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #f1f1f1;
    margin-bottom: 1rem;
    margin-left: 33%;
   
}
.transparent {
    opacity: 0.4;
    text-decoration: line-through;
  }
  

.showVestuary img{
    width: 10rem;
    height: 11rem;
    border-radius: 8%;
    margin-left: 30%;
    margin-bottom: 10%;
    margin-top: 5%;
}
.line2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    width: 90%;
    background-color: #dbd4b3;
    border: none;
    border-radius: 8px;
    height: 3px;
    color: #dbd4b3;
    font-size: 1px;
}
.mainTitle{
    font-size: 3rem;
    font-weight: 700;
    color: #0e0e0e;
    margin-bottom: 2rem;
    margin-left: 42%;
    margin-top: 3%;
}
.card button{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    background-color: #f1f1f1;
    cursor: pointer;
    width: 23%;
    margin-left: 5%;
}
.card button:hover{
    background-color: #dbd4b3;
    width: 30%;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 800px) {
    .card{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 95%;
        margin-left: 3%;
        text-align: justify !important;
    }
    .card p{
        margin-left: 18% !important;
        width: 90%
        
    }
    .buttons button{
        display: flex;
        flex-direction: column;
        width: 70%;
        text-align: center;
        margin-left: 20%;
        margin-top: 5%;
        padding-left: 23%;
    }

    .img{
     margin-left: 13% !important;
     width: 80% !important;
    }

    .vish{
        margin-left: 19% !important;
        margin-top: -8% !important;
    }
}