.footer{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 20px;
}
.texts{
    display: flex;
}
.text p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 100;
   color: #a1a1a1;
   font-size: 10px;
   width: 50%;
   margin-left: 18%;
   text-align: start;
}
.text h3{
   margin-left: -50%;
   margin-bottom: 3%;
}
.hr{
    width: 88%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: #a1a1a1;
}
.copyrights{
    display: flex;
    margin-left: 59%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}
.copyrights div{
    font-size: 10px;
    color: #a1a1a1;
    font-weight: 200;
    
   
}
.copyrights p{
    font-weight: 100;
    margin-left: 130%;
    
}
.copyrights h3{
    margin-left: -130%;
    margin-bottom: 3%;
}
@media (max-width: 800px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0%;
        font-size: 12px;
    }
    .texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      margin-bottom: 3%;
        font-size: 12px;
    }
    .text p{
        width: 95%;
        margin-left: 2%;
        text-align: justify;
    }
    .text h3{
        margin-left: 2%;
    }
   

}