.error{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}
.success{
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}
.warning{
    color: rgb(255, 215, 13);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}